body {
	color: #333333;
	font-size: 100%;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",verdana,"メイリオ", Meiryo, sans-serif;
	line-height: 1.5;
	background: url(null) fixed;
	background-color: #fff;
}
html {
	overflow-y: scroll;
}
ul, ol {
	list-style: none;
}
.container {
    width: 90%;
    margin: 50px auto;
}